* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* color */
  --black-color: #000000;
  --white-color: #ffffff;
  --pink-color: #ff849a;
  --light-black: #120d44;

  /* font family */
  --primary-font: "hk-grotesk";
  --secondary-font: "Neue-Machina";
}

body {
  font-family: var(--primary-font);
  background-color: var(--black-color);
}

.container {
  max-width: 1432px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  outline: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--white-color);
}

.info_sec {
  margin-block: 150px 70px;
}

.mt-10 {
  margin-top: 100px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-3 {
  margin-top: 32px;
}

.heading {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
  color: var(--white-color);
  margin-bottom: 30px;
}

.desc {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
}

input,
textarea {
  padding: 16px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  resize: none;
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  /* color: rgba(140, 82, 255, 60%); */
}

.header {
    position: sticky;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 15px 0;
    transition: background-color 0.3s, padding 0.3s, box-shadow 0.3s;
    background-color: var(--black-color);
  }

/* .header.scrolled {
    background: var(--purple-light);
    top: 0;
    box-shadow: rgb(255 255 255 / 35%) 0px 5px 15px;
  } */

.header_wrappr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}
.headere_logo {
  width: 21%;
}
.header_logoLnk {
  background-image: url("/assets/images/logo.png");
  height: 70px;
  width: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
}
.header_navbar {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.header_item {
  padding-inline: 20px;
}

.header_link {
  color: var(--white-color);
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.header_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--white-color);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.header_link:hover::after {
  width: 100%;
  left: 0;
}

.header_link.active::after {
  width: 100%;
}
.header_right {
  display: flex;
  gap: 20px;
}
.header_right .btn {
  border-color: transparent;
  padding: 10px 16px;
  background-color: var(--pink-color);
}
.header_right .btn:hover {
  border-color: var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}
.humburger {
  display: none;
}

.humburger_icon,
.close_menuIcon {
  background-image: url("/assets/images/icons8-hamburger-menu-50.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  filter: invert(1);
  cursor: pointer;
}
.close_menuIcon {
  background-image: url("/assets/images/icons8-close-50.png");
  position: absolute;
  top: 24px;
  right: 15px;
}

.close_menu {
  display: none;
}

/* banner section */
.banner {
  background-color: var(--black-color);
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}
.banner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_heading {
  font-size: 85px;
  line-height: 100%;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 18px;
}
.banner_desc {
  font-size: 20px;
  font-weight: 400;
}
.banner_btns {
  margin-top: 104px;
  gap: 2rem;
  display: flex;
  align-items: center;
}
.banner_btns .btn:hover {
  background-color: var(--pink-color);
  color: var(--white-color);
  border-color: transparent;
}
.banner_left {
  width: 60%;
  margin-bottom: 12px;
}
.banner_right {
  width: 40%;
}
.banner_right {
  background-image: url("/assets/images/hero_img.webp");
  height: 540px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}
/* welcome */
.welcome {
  background-image: url("/assets/images/welcome.webp");
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.welcome::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.welcome_wrapper {
  z-index: 1;
}
.welcome_content {
  max-width: 840px;
  width: 100%;
  padding-inline: 12px;
  text-align: center;
  margin: 0 auto;
}
.welcome_heading {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--white-color);
}
.welcome_desc {
  font-size: 23px;
  line-height: 135%;
  font-weight: 400;
  color: var(--white-color);
}

/* footer section */
.footer {
  color: var(--white-color);
  box-shadow: 1px 1px 20px 1px var(--white-color);
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.disclaimer h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 12px;
}

.footer a {
  color: var(--white-color);
}

.footer_left {
  width: 25%;
}

.footer_navbar {
  width: 23%;
}

.footer_socials {
  width: 20%;
}

.footer_content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-block: 50px;
}

.footer_icon {
  background-image: url("../images/logo.png");
  height: 70px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.footer_title {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
}

.footer_link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  color: var(--white-color);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.footer_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--white-color);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.footer_link:hover::after {
  width: 100%;
  left: 0;
}

.footer_socialsWrapp {
  display: flex;
  gap: 10px;
}
.footer_social {
  border: 1px solid var(--pink-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.footer_social:hover {
  background-color: var(--pink-color);
}
.social_link {
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s linear;
  filter: invert(1);
}

.footer_copyRight p {
  font-size: 14px;
}

.footer_copyRight a:hover {
  text-decoration: underline;
}

.social_link--fb {
  background-image: url("../images/fb.png");
}

.social_link--twitter {
  background-image: url("../images/twitter.svg");
  filter: grayscale(1);
}

.social_link--inta {
  background-image: url("../images/insta.png");
}

.social_link--linkedin {
  background-image: url("../images/inkedIn.svg");
  filter: grayscale(1);
}

.footer_btm {
  border-top: 1px solid var(--white-color);
}

.footer_btmSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.footer_SSlLink {
  background-image: url("../images/ssl.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 32px;
  display: block;
}
/* singup section */
.singup {
  border-bottom: 1px solid var(--white-color);
}
.singup_left {
  background-image: url("/assets/images/singup.webp");
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.singup_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.singup_left {
  width: 50%;
}
.singup_right {
  width: 50%;
}
.singup_content {
  width: 97%;
  margin: 0 auto;
}
.singup_tobar {
  background-color: var(--light-black);
  padding: 16px 8px;
  margin-bottom: 126px;
}
.singup_form {
  background-color: #6d5a96;
  padding: 1rem;
  border-radius: 8px;
}
.singup_heading {
  font-size: 20px;
  font-weight: 400;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 20px;
}
.singup_email {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 65%;
  margin: 0 auto;
  align-items: center;
}
.singup_input {
  border-radius: 50px 0 0 50px;
  padding: 12px 14px;
  font-size: 14px;
  font-weight: 400;
}
.singup_email::placeholder {
  font-size: 14px;
  font-weight: 400;
}
.submit_btn {
  width: 150px;
  padding: 12px;
  border-radius: 0px 50px 50px 0px;
  background-color: #ef655c;
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.submit_btn:hover {
  background-color: var(--white-color);
  color: var(--pink-color);
}
.singup_btm p:first-child {
  margin-bottom: 20px;
}
.singup_btm p {
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2px;
}
/* choose section */

.choose {
  background-image: url("../images/why_choose.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /* height: 500px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--white-color);
}
.choose::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.choose_wrapper {
  z-index: 1;
}
.choose_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
}
.choose_sec {
  width: 30%;
}
.choose_heading {
  font-size: 41px;
  font-weight: 400;
  margin-bottom: 36px;
  text-align: center;
  color: var(--white-color);
}
.choose_title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--white-color);
}
.choose_desc {
  font-size: 20px;
  font-weight: 400;
  color: var(--white-color);
  line-height: 150%;
}
/* leagues */
.leagues {
  margin-bottom: 12px;
}
.leagues_wrapper {
  display: flex;
  justify-content: space-between;
}
.leagues_right {
  width: 50%;
}
.leagues_left {
  width: 50%;
  background-image: url("../images/play_game.webp");
  /* height: 100vh; */
  height: 720px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.leagues_heading {
  font-size: 37px;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 83px;
  text-align: center;
  margin-top: 22px;
}
.leagues_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.leagues_sec {
  max-width: 400px;
  width: 100%;
  margin-bottom: 1rem;
}
.leagues_title {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 1rem;
  color: var(--white-color);
  font-family: var(--secondary-font);
}
.leagues_desc {
  font-size: 16px;
  font-weight: 400;
  color: var(--white-color);
  font-family: var(--secondary-font);
}
